.toolbar {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.well {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.well:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.well--selected,
.well--selected:hover {
  background-color: #ff8a00;
}
